table.responsive-table.striped
  thead
    tr 
      th Technology
      th score 
      each criterion in criteria
        if criterion.weight > 0 
          th
            span #{criterion.name} 
            .hide-on-med-and-down
              span (importance: #{criterion.weight }
              br
              span granularity: #{ Math.floor(criterion.blurIntensity * 100) }%)        
  tbody
    each technology in technologies
      tr
         
        td= technology.description
        td= Math.round( 100 *technology.score ) 
        each criterion in criteria
          if criterion.weight > 0 
            td
              span= Math.floor( 100 * technology.dominance[ criterion.name ] / criterion.maxDominance ) 
              
