table.responsive-table.striped
  tr 
    th Technology
    each criterion in criteria
      if criterion.weight > 0 
        th
          span #{criterion.name} 
          .hide-on-med-and-down
            span (importance: #{criterion.weight }
            br
            span granularity: #{ Math.floor(criterion.blurIntensity * 100) }%)        
  each technology in technologies
    tr 
      td= technology.description
      each criterion in criteria
        if criterion.weight > 0 
          td
            span #{technology.dominance[ criterion.name ]}
            
